*{
    cursor: url("../img/mouse/blobzeiger.png") 0 0, default;
}

.MouseHover:hover{
    cursor: url("../img/mouse/blobpointer.png") 0 0, default;
}

.versteckt{
    display: none;
}

html{
    overflow: hidden;
    user-select: none;
}

body{
    font-family: "Arial Black";
    padding: 0;
    margin: 0;
}

.xp {
    font-family: "Arial Black";
    position: relative;
    color: mediumpurple;
    width: 20%;
    left: 40%;
    padding: 1%;
    height: 3%;
    z-index: 10;
    border: ridge saddlebrown 0.6em;
    background-color: #bc7a00;
    text-shadow: white 0em 0em 0em 1em;
}

.zentr{
    font-family: "Arial Black";
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 10;
    bottom: 6%;
}
.tab{
    position: absolute;
    left: -4%;
    width: 5%;
    height: 51%;
    top: 42.2%;
    z-index: 499;
}

.tablinks{
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    border-right: 0;
    padding: 20%;
    padding-right: -5%;
    border-left: 0.6em ridge saddlebrown;
    background-color: #db8e00;
    height: 14%;
    width: 80%;
}

.tablinks:hover{
    background-color: #d18802;
}

.tab button.active{
    background-color: #bc7a00;
}

#tabup{
    border-top: 0.6em ridge saddlebrown;
    border-bottom: 0.3em ridge saddlebrown;
}

.tabmid{
    border-top: 0.3em ridge saddlebrown;
    border-bottom: 0.3em ridge saddlebrown;
}

#tabdown{
    border-top: 0.3em ridge saddlebrown;
    border-bottom: 0.6em ridge saddlebrown;
}

.shop{
    position: absolute;
    width: 100%;
    top: -120%;
    left: 10%;
    z-index: 600;
}

.shopX{
    position: absolute;
    left: 73%;
    top: 32%;
    color: white;
    z-index: 502;
}

.shopinhalt{
    position: absolute;
    width: 76%;
    height: 55%;
    left: 1.9%;
    top: 41%;
    z-index: 502;
    overflow: auto;
}

.shopinhalt_elem{
    background-color: #db8e00;
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 3%;
    height: 30%;
    width: 96%;
    border: ridge saddlebrown 0.6em;
}

.name{
    font-size: 200%;
    position: relative;
    left: 42.5%;
    width: 15%;
    height: 5%;
    padding: 1%;
    margin: 0;
    border: ridge saddlebrown 0.3em;
    background-color: #bc7a00;
    color: white;
    z-index: 10;
}

.coins {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 1%;
    margin: 0;
    font-family: "Arial Black";
    border: ridge saddlebrown 0.6em;
    background-color: #bc7a00;
    color: white;
    z-index: 10;
}

.blobbox{
    position: absolute;
    left: 30%;
    top: 12%;
    z-index: 10;
}

.shopimage{
    z-index: 500;
}

#startgamediv{
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

#startgame{
    position: absolute;
    height: 10%;
    width: 30%;
    top: 45%;
    left: 35%;
    background-color: lime;
    z-index: 1001;
    display: none;
}

.openBtn{
    position: absolute;
    top: 4%;
    left: 77%;
    font-size: 3em;
    color: white;
    z-index: 10;
}

.text{
    font-size: 2em;
    color: white;
    z-index: 10;
}

.coinTxt{
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 10;
}

.matheTxt{
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 10;
}

.englishTxt{
    position: absolute;
    top: 35%;
    left: 15%;
}

.helpTxt{
    position: absolute;
    top: 80%;
    left: 15%;
    z-index: 10;
}

.logoutTxt{
    position: absolute;
    top: 90%;
    left: 15%;
    z-index: 10;
}

.coinBtn{
    position: absolute;
    top: 13.5%;
    left: 70%;
    z-index: 10;
}

.matheBtn{
    position: absolute;
    top: 23.5%;
    left: 70%;
    z-index: 10;
}

.englishBtn{
    position: absolute;
    top: 34%;
    left: 70%;
}

.helpBtn{
    position: absolute;
    top: 78.5%;
    left: 70%;
    z-index: 10;
}

.logoutBtn{
    position: absolute;
    top: 89%;
    left: 70%;
    z-index: 10;
}

nav{
    border-right: ridge saddlebrown 0.6em;
    background-color: #bc7a00;
    position: absolute;
    z-index: 0;
    left: -9.8%;
    top: 0;
    width: 15%;
    height: 100%;
    z-index: 9;
}

.mathebox{
    position: absolute;
    top: 18%;
    left: 18%;
    z-index: 500;
}

#aufgabentext{
    position: absolute;
    font-family: "Arial Black";
    font-size: 5em;
    top: 20%;
    left: 30%;
    z-index: 501;
}

#matheInput{
    position: absolute;
    top: 63%;
    left: 40%;
    font-family: "Arial Black";
    font-size: 2em;
    width: 20em;
    height: 1.2em;
    padding: 0.2em;
    margin: 0;
    border-radius: 1em;
    z-index: 501;
}

#nextBtn{
    padding: 0.3em;
    position: absolute;
    top: 80%;
    left: 27%;
    font-size: 1.5em;
    font-family: "Arial Black";
    border-radius: 1em;
    z-index: 501;
}

#okBtn{
    position: absolute;
    top: 65.5%;
    left: 70%;
    border-radius: 1em;
    width: 5%;
    z-index: 501;
}



.vokabelbox{
    position: absolute;
    top: 18%;
    left: 18%;
    z-index: 500;
}

#Vokabelaufgabentext{
    position: absolute;
    font-family: "Arial Black";
    font-size: 5em;
    top: 20%;
    left: 30%;
    z-index: 501;
}

#VokabelQuestInput{
    position: absolute;
    top: 63%;
    left: 40%;
    font-family: "Arial Black";
    font-size: 2em;
    width: 20em;
    height: 1.2em;
    padding: 0.4em;
    margin: 0;
    border-radius: 1em;
    z-index: 501;
}

#VokabelNextBtn{
    padding: 0.3em;
    position: absolute;
    top: 80%;
    left: 27%;
    font-size: 1.5em;
    font-family: "Arial Black";
    border-radius: 1em;
    z-index: 501;
}

#VokabelOkBtn{
    position: absolute;
    top: 65.5%;
    left: 70%;
    border-radius: 1em;
    width: 5%;
    z-index: 501;
}

#VokabelPathPicker{
    position: absolute;
    top: 70.5%;
    left: 50%;
    font-size: 1.5em;
    padding: 0.2em;
    margin: 0;
    z-index: 501;
}

.helpBox{
    position: absolute;
    top: 18%;
    left: 18%;
    z-index: 50;
}

.helpText{
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 1.8em;
    font-family: "Arial Black";
    z-index: 52;
    size: 300em;
}

img{
    -webkit-user-drag: none;
}

#wt{
    color: darkslategray;
    position: absolute;
    left: 10%;
    top: 10%;
    font-family: "Arial Black";
    font-size: 3em;
    z-index: 1002;
    display: none;
}


#bl{
    color: black;
    position: absolute;
    left: 15%;
    top: 15%;
    font-family: "Arial Black";
    font-size: 3em;
    z-index: 1002;
    display: none;
}

#pb{
    color: darkslategray;
    position: absolute;
    left: 65%;
    top: 75%;
    font-family: "Arial Black";
    font-size: 3em;
    z-index: 1002;
    display: none;
}


#srd{
    color: black;
    position: absolute;
    left: 70%;
    top: 80%;
    font-family: "Arial Black";
    font-size: 3em;
    z-index: 1002;
    display: none;
}







/*                                                        BLOB                              */

.animation-target {
    -webkit-animation: BLOBanimation 1000ms linear both;
    animation: BLOBanimation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at https://goo.gl/SxH15Z */

@-webkit-keyframes BLOBanimation {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.4% { -webkit-transform: matrix3d(1.043, 0, 0, 0, 0, 1.115, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.043, 0, 0, 0, 0, 1.115, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.046, 0, 0, 0, 0, 1.144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.046, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.81% { -webkit-transform: matrix3d(1.037, 0, 0, 0, 0, 1.183, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.037, 0, 0, 0, 0, 1.183, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(1.02, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { -webkit-transform: matrix3d(1.013, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.013, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.21% { -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.006, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.61% { -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.52% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.32% { -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.017, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.022, 0, 0, 0, 0, 0.932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.23% { -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.022, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 0.929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 0.929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.03% { -webkit-transform: matrix3d(1.014, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.014, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { -webkit-transform: matrix3d(1.011, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.011, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.994, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.74% { -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(0.987, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.987, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.986, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    44.44% { -webkit-transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.996, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    59.86% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    75.28% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    90.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes BLOBanimation {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.4% { -webkit-transform: matrix3d(1.043, 0, 0, 0, 0, 1.115, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.043, 0, 0, 0, 0, 1.115, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.046, 0, 0, 0, 0, 1.144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.046, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.81% { -webkit-transform: matrix3d(1.037, 0, 0, 0, 0, 1.183, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.037, 0, 0, 0, 0, 1.183, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(1.02, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { -webkit-transform: matrix3d(1.013, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.013, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.21% { -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.006, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.61% { -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.52% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.32% { -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.017, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.022, 0, 0, 0, 0, 0.932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.23% { -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.022, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 0.929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 0.929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.03% { -webkit-transform: matrix3d(1.014, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.014, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { -webkit-transform: matrix3d(1.011, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.011, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.994, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.74% { -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(0.987, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.987, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.986, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    44.44% { -webkit-transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.996, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    59.86% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    75.28% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    90.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}




/*                                              INTRO                             */

#pb {

    -webkit-animation: PRESENTEDanimation 4800ms linear both;
    animation: PRESENTEDanimation 4800ms linear both;
}

#srd {
    -webkit-animation: PRESENTEDanimation 5200ms linear both;
    animation: PRESENTEDanimation 5200ms linear both;
}

/* Generated with Bounce.js. Edit at https://goo.gl/yTgK3A */

@-webkit-keyframes PRESENTEDanimation {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); }
    2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); }
    4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); }
    6.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); }
    7.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1); }
    8.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.47, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.47, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); }
    11.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1); }
    12.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); }
    15.77% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1); }
    16.02% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); }
    16.57% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.016, 1, 0, 0, 0, 0, 1, 0, 2.847, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.016, 1, 0, 0, 0, 0, 1, 0, 2.847, 0, 0, 1); }
    16.67% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.017, 1, 0, 0, 0, 0, 1, 0, 2.833, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.017, 1, 0, 0, 0, 0, 1, 0, 2.833, 0, 0, 1); }
    18.17% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.03, 1, 0, 0, 0, 0, 1, 0, 3.139, -22.379, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.03, 1, 0, 0, 0, 0, 1, 0, 3.139, -22.379, 0, 1); }
    19.64% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 2.947, -29.048, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 2.947, -29.048, 0, 1); }
    19.67% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 2.938, -29.046, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 2.938, -29.046, 0, 1); }
    20.92% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.031, 1, 0, 0, 0, 0, 1, 0, 2.358, -25.237, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.031, 1, 0, 0, 0, 0, 1, 0, 2.358, -25.237, 0, 1); }
    22.11% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.027, 1, 0, 0, 0, 0, 1, 0, 1.694, -17.208, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.027, 1, 0, 0, 0, 0, 1, 0, 1.694, -17.208, 0, 1); }
    24.49% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.017, 1, 0, 0, 0, 0, 1, 0, 0.692, -0.046, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.017, 1, 0, 0, 0, 0, 1, 0, 0.692, -0.046, 0, 1); }
    25.99% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.012, 1, 0, 0, 0, 0, 1, 0, 0.534, -6.514, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.012, 1, 0, 0, 0, 0, 1, 0, 0.534, -6.514, 0, 1); }
    27.49% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 0.351, -8.426, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 0.351, -8.426, 0, 1); }
    32.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.051, -0.026, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.051, -0.026, 0, 1); }
    35.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.007, -2.445, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.007, -2.445, 0, 1); }
    35.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.006, -2.444, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.006, -2.444, 0, 1); }
    36.36% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.001, -2.205, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.001, -2.205, 0, 1); }
    36.46% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, -2.163, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, -2.163, 0, 1); }
    37.4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.132, 1, 0, 0, 0, 0, 1, 0, -0.002, -1.659, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.132, 1, 0, 0, 0, 0, 1, 0, -0.002, -1.659, 0, 1); }
    37.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -0.002, -1.597, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -0.002, -1.597, 0, 1); }
    39.15% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.376, 1, 0, 0, 0, 0, 1, 0, 324.603, -0.532, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.376, 1, 0, 0, 0, 0, 1, 0, 324.603, -0.532, 0, 1); }
    40.13% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.506, 1, 0, 0, 0, 0, 1, 0, 503.51, -0.011, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.506, 1, 0, 0, 0, 0, 1, 0, 503.51, -0.011, 0, 1); }
    40.19% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.514, 1, 0, 0, 0, 0, 1, 0, 514.267, -0.042, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.514, 1, 0, 0, 0, 0, 1, 0, 514.267, -0.042, 0, 1); }
    41.04% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.617, 1, 0, 0, 0, 0, 1, 0, 650.919, -0.387, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.617, 1, 0, 0, 0, 0, 1, 0, 650.919, -0.387, 0, 1); }
    41.84% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.704, 1, 0, 0, 0, 0, 1, 0, 761.347, -0.596, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.704, 1, 0, 0, 0, 0, 1, 0, 761.347, -0.596, 0, 1); }
    42.88% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.8, 1, 0, 0, 0, 0, 1, 0, 878.583, -0.707, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.8, 1, 0, 0, 0, 0, 1, 0, 878.583, -0.707, 0, 1); }
    43.13% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.82, 1, 0, 0, 0, 0, 1, 0, 902.261, -0.709, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.82, 1, 0, 0, 0, 0, 1, 0, 902.261, -0.709, 0, 1); }
    44.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.903, 1, 0, 0, 0, 0, 1, 0, 1004.853, -0.593, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.903, 1, 0, 0, 0, 0, 1, 0, 1004.853, -0.593, 0, 1); }
    45.57% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.939, 1, 0, 0, 0, 0, 1, 0, 1052.275, -0.416, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.939, 1, 0, 0, 0, 0, 1, 0, 1052.275, -0.416, 0, 1); }
    47.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.957, 1, 0, 0, 0, 0, 1, 0, 1088.351, -0.11, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.957, 1, 0, 0, 0, 0, 1, 0, 1088.351, -0.11, 0, 1); }
    47.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.954, 1, 0, 0, 0, 0, 1, 0, 1092.953, -0.004, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.954, 1, 0, 0, 0, 0, 1, 0, 1092.953, -0.004, 0, 1); }
    48.26% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.951, 1, 0, 0, 0, 0, 1, 0, 1093.333, -0.046, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.951, 1, 0, 0, 0, 0, 1, 0, 1093.333, -0.046, 0, 1); }
    50.93% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.912, 1, 0, 0, 0, 0, 1, 0, 1072.661, -0.206, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.912, 1, 0, 0, 0, 0, 1, 0, 1072.661, -0.206, 0, 1); }
    50.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.912, 1, 0, 0, 0, 0, 1, 0, 1072.35, -0.206, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.912, 1, 0, 0, 0, 0, 1, 0, 1072.35, -0.206, 0, 1); }
    54.16% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.864, 1, 0, 0, 0, 0, 1, 0, 1031.467, -0.078, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.864, 1, 0, 0, 0, 0, 1, 0, 1031.467, -0.078, 0, 1); }
    55.21% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.853, 1, 0, 0, 0, 0, 1, 0, 1020.626, -0.023, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.853, 1, 0, 0, 0, 0, 1, 0, 1020.626, -0.023, 0, 1); }
    55.77% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.848, 1, 0, 0, 0, 0, 1, 0, 1015.588, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.848, 1, 0, 0, 0, 0, 1, 0, 1015.588, -0.002, 0, 1); }
    58.77% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.834, 1, 0, 0, 0, 0, 1, 0, 998.434, -0.06, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.834, 1, 0, 0, 0, 0, 1, 0, 998.434, -0.06, 0, 1); }
    61.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 994.102, -0.036, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 994.102, -0.036, 0, 1); }
    62.15% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 993.769, -0.02, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 993.769, -0.02, 0, 1); }
    62.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 993.805, -0.014, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 993.805, -0.014, 0, 1); }
    63.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.833, 1, 0, 0, 0, 0, 1, 0, 994.252, -0.001, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.833, 1, 0, 0, 0, 0, 1, 0, 994.252, -0.001, 0, 1); }
    66.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.836, 1, 0, 0, 0, 0, 1, 0, 996.701, -0.017, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.836, 1, 0, 0, 0, 0, 1, 0, 996.701, -0.017, 0, 1); }
    71.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.753, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.753, 0, 0, 1); }
    74.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.357, -0.005, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.357, -0.005, 0, 1); }
    75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.394, -0.005, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.394, -0.005, 0, 1); }
    76.04% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.416, -0.004, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.416, -0.004, 0, 1); }
    79.17% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1000.298, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1000.298, 0, 0, 1); }
    88.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.974, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.974, 0, 0, 1); }
    89.99% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.972, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.972, 0, 0, 1); }
    98.96% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.999, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.999, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1000, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1000, 0, 0, 1); }
}

@keyframes PRESENTEDanimation {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); }
    2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); }
    4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); }
    6.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); }
    7.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1); }
    8.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.47, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.47, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); }
    11.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1); }
    12.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); }
    15.77% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1); }
    16.02% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); }
    16.57% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.016, 1, 0, 0, 0, 0, 1, 0, 2.847, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.016, 1, 0, 0, 0, 0, 1, 0, 2.847, 0, 0, 1); }
    16.67% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.017, 1, 0, 0, 0, 0, 1, 0, 2.833, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.017, 1, 0, 0, 0, 0, 1, 0, 2.833, 0, 0, 1); }
    18.17% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.03, 1, 0, 0, 0, 0, 1, 0, 3.139, -22.379, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.03, 1, 0, 0, 0, 0, 1, 0, 3.139, -22.379, 0, 1); }
    19.64% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 2.947, -29.048, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 2.947, -29.048, 0, 1); }
    19.67% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 2.938, -29.046, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 2.938, -29.046, 0, 1); }
    20.92% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.031, 1, 0, 0, 0, 0, 1, 0, 2.358, -25.237, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.031, 1, 0, 0, 0, 0, 1, 0, 2.358, -25.237, 0, 1); }
    22.11% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.027, 1, 0, 0, 0, 0, 1, 0, 1.694, -17.208, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.027, 1, 0, 0, 0, 0, 1, 0, 1.694, -17.208, 0, 1); }
    24.49% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.017, 1, 0, 0, 0, 0, 1, 0, 0.692, -0.046, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.017, 1, 0, 0, 0, 0, 1, 0, 0.692, -0.046, 0, 1); }
    25.99% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.012, 1, 0, 0, 0, 0, 1, 0, 0.534, -6.514, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.012, 1, 0, 0, 0, 0, 1, 0, 0.534, -6.514, 0, 1); }
    27.49% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 0.351, -8.426, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 0.351, -8.426, 0, 1); }
    32.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.051, -0.026, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.051, -0.026, 0, 1); }
    35.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.007, -2.445, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.007, -2.445, 0, 1); }
    35.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.006, -2.444, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.006, -2.444, 0, 1); }
    36.36% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.001, -2.205, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.001, -2.205, 0, 1); }
    36.46% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, -2.163, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, -2.163, 0, 1); }
    37.4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.132, 1, 0, 0, 0, 0, 1, 0, -0.002, -1.659, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.132, 1, 0, 0, 0, 0, 1, 0, -0.002, -1.659, 0, 1); }
    37.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -0.002, -1.597, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -0.002, -1.597, 0, 1); }
    39.15% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.376, 1, 0, 0, 0, 0, 1, 0, 324.603, -0.532, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.376, 1, 0, 0, 0, 0, 1, 0, 324.603, -0.532, 0, 1); }
    40.13% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.506, 1, 0, 0, 0, 0, 1, 0, 503.51, -0.011, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.506, 1, 0, 0, 0, 0, 1, 0, 503.51, -0.011, 0, 1); }
    40.19% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.514, 1, 0, 0, 0, 0, 1, 0, 514.267, -0.042, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.514, 1, 0, 0, 0, 0, 1, 0, 514.267, -0.042, 0, 1); }
    41.04% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.617, 1, 0, 0, 0, 0, 1, 0, 650.919, -0.387, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.617, 1, 0, 0, 0, 0, 1, 0, 650.919, -0.387, 0, 1); }
    41.84% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.704, 1, 0, 0, 0, 0, 1, 0, 761.347, -0.596, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.704, 1, 0, 0, 0, 0, 1, 0, 761.347, -0.596, 0, 1); }
    42.88% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.8, 1, 0, 0, 0, 0, 1, 0, 878.583, -0.707, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.8, 1, 0, 0, 0, 0, 1, 0, 878.583, -0.707, 0, 1); }
    43.13% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.82, 1, 0, 0, 0, 0, 1, 0, 902.261, -0.709, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.82, 1, 0, 0, 0, 0, 1, 0, 902.261, -0.709, 0, 1); }
    44.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.903, 1, 0, 0, 0, 0, 1, 0, 1004.853, -0.593, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.903, 1, 0, 0, 0, 0, 1, 0, 1004.853, -0.593, 0, 1); }
    45.57% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.939, 1, 0, 0, 0, 0, 1, 0, 1052.275, -0.416, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.939, 1, 0, 0, 0, 0, 1, 0, 1052.275, -0.416, 0, 1); }
    47.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.957, 1, 0, 0, 0, 0, 1, 0, 1088.351, -0.11, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.957, 1, 0, 0, 0, 0, 1, 0, 1088.351, -0.11, 0, 1); }
    47.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.954, 1, 0, 0, 0, 0, 1, 0, 1092.953, -0.004, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.954, 1, 0, 0, 0, 0, 1, 0, 1092.953, -0.004, 0, 1); }
    48.26% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.951, 1, 0, 0, 0, 0, 1, 0, 1093.333, -0.046, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.951, 1, 0, 0, 0, 0, 1, 0, 1093.333, -0.046, 0, 1); }
    50.93% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.912, 1, 0, 0, 0, 0, 1, 0, 1072.661, -0.206, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.912, 1, 0, 0, 0, 0, 1, 0, 1072.661, -0.206, 0, 1); }
    50.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.912, 1, 0, 0, 0, 0, 1, 0, 1072.35, -0.206, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.912, 1, 0, 0, 0, 0, 1, 0, 1072.35, -0.206, 0, 1); }
    54.16% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.864, 1, 0, 0, 0, 0, 1, 0, 1031.467, -0.078, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.864, 1, 0, 0, 0, 0, 1, 0, 1031.467, -0.078, 0, 1); }
    55.21% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.853, 1, 0, 0, 0, 0, 1, 0, 1020.626, -0.023, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.853, 1, 0, 0, 0, 0, 1, 0, 1020.626, -0.023, 0, 1); }
    55.77% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.848, 1, 0, 0, 0, 0, 1, 0, 1015.588, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.848, 1, 0, 0, 0, 0, 1, 0, 1015.588, -0.002, 0, 1); }
    58.77% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.834, 1, 0, 0, 0, 0, 1, 0, 998.434, -0.06, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.834, 1, 0, 0, 0, 0, 1, 0, 998.434, -0.06, 0, 1); }
    61.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 994.102, -0.036, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 994.102, -0.036, 0, 1); }
    62.15% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 993.769, -0.02, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 993.769, -0.02, 0, 1); }
    62.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 993.805, -0.014, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 993.805, -0.014, 0, 1); }
    63.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.833, 1, 0, 0, 0, 0, 1, 0, 994.252, -0.001, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.833, 1, 0, 0, 0, 0, 1, 0, 994.252, -0.001, 0, 1); }
    66.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.836, 1, 0, 0, 0, 0, 1, 0, 996.701, -0.017, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.836, 1, 0, 0, 0, 0, 1, 0, 996.701, -0.017, 0, 1); }
    71.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.753, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.753, 0, 0, 1); }
    74.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.357, -0.005, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.357, -0.005, 0, 1); }
    75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.394, -0.005, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.394, -0.005, 0, 1); }
    76.04% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.416, -0.004, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1000.416, -0.004, 0, 1); }
    79.17% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1000.298, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1000.298, 0, 0, 1); }
    88.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.974, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.974, 0, 0, 1); }
    89.99% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.972, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.972, 0, 0, 1); }
    98.96% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.999, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 999.999, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1000, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1000, 0, 0, 1); }
}



