body{
    padding: 0;
    margin: 0;
}

.xp {
    font-family: "Arial Black";
    position: absolute;
    color: mediumpurple;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 2.5%;
    text-align: center;
    z-index: 10;
    bottom: 0;
}

.zentr{
    font-family: "Arial Black";
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 10;
    bottom: 10%;
}

.shop{
    position: absolute;
    top: -120%;
    left: 10%;
    z-index: 20;
}

.name{
    font-size: 1.4em;
    position: relative;
    left: 41%;
    width: 15%;
    height: 5%;
    padding: 1%;
    margin: 0;
    border: ridge saddlebrown 0.6em;
    background-color: #bc7a00;
    color: white;
}

.coins {
    position: absolute;
    top: -250px;
    right: 1%;
    padding: 1%;
    margin: 0;
    font-family: "Arial Black";
    border: ridge saddlebrown 0.6em;
    background-color: #bc7a00;
    color: white;
}

.blobbox{
    position: absolute;
    left: 37.5%;
    top: 20%;
}