html{
    overflow: hidden;
}

body{
    font-family: "Arial Black";
    padding: 0;
    margin: 0;
}

.xp {
    font-family: "Arial Black";
    position: relative;
    color: mediumpurple;
    width: 20%;
    left: 40%;
    padding: 1%;
    height: 3%;
    z-index: 10;
    border: ridge saddlebrown 0.6em;
    background-color: #bc7a00;
    text-shadow: white 0em 0em 0em 1em;
}

.zentr{
    font-family: "Arial Black";
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 10;
    bottom: 6%;
}
.tab{
    position: absolute;
    left: -4%;
    width: 5%;
    height: 51%;
    top: 42.2%;
    z-index: 499;
}

.tablinks{
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    border-right: 0;
    padding: 20%;
    padding-right: -5%;
    border-left: 0.6em ridge saddlebrown;
    background-color: #db8e00;
    height: 14%;
    width: 80%;
}

.tablinks:hover{
    background-color: #d18802;
}

.tab button.active{
    background-color: #bc7a00;
}

#tabup{
    border-top: 0.6em ridge saddlebrown;
    border-bottom: 0.3em ridge saddlebrown;
}

#tabmid{
    border-top: 0.3em ridge saddlebrown;
    border-bottom: 0.6em ridge saddlebrown;
}

#tabdown{
    border-top: 0.3em ridge saddlebrown;
    border-bottom: 0.6em ridge saddlebrown;
}

.shop{
    position: absolute;
    width: 100%;
    top: -120%;
    left: 10%;
    z-index: 600;
}

.shopX{
    position: absolute;
    left: 73%;
    top: 32%;
    color: white;
    z-index: 502;
}

.shopinhalt{
    position: absolute;
    width: 76%;
    height: 55%;
    left: 1.9%;
    top: 41%;
    z-index: 502;
    overflow: auto;
}

.shopinhalt_elem{
    background-color: #db8e00;
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 3%;
    height: 30%;
    width: 96%;
    border: ridge saddlebrown 0.6em;
}

.name{
    font-size: 200%;
    position: relative;
    left: 42.5%;
    width: 15%;
    height: 5%;
    padding: 1%;
    margin: 0;
    border: ridge saddlebrown 0.3em;
    background-color: #bc7a00;
    color: white;
    z-index: 10;
}

.coins {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 1%;
    margin: 0;
    font-family: "Arial Black";
    border: ridge saddlebrown 0.6em;
    background-color: #bc7a00;
    color: white;
    z-index: 10;
}

.blobbox{
    position: absolute;
    left: 35%;
    top: 20%;
    z-index: 100;
}

.shopimage{
    z-index: 500;
}

#startgamediv{
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

#startgame{
    position: absolute;
    height: 10%;
    width: 30%;
    top: 45%;
    left: 35%;
    background-color: lime;
    z-index: 1001;
}

.openBtn{
    position: absolute;
    top: 4%;
    left: 77%;
    font-size: 3em;
    color: white;
    z-index: 10;
}

.text{
    font-size: 2em;
    color: white;
    z-index: 10;
}

.coinTxt{
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 10;
}

.questTxt{
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 10;
}

.helpTxt{
    position: absolute;
    top: 80%;
    left: 15%;
    z-index: 10;
}

.logoutTxt{
    position: absolute;
    top: 90%;
    left: 15%;
    z-index: 10;
}

.coinBtn{
    position: absolute;
    top: 13%;
    left: 70%;
    z-index: 10;
}

.questBtn{
    position: absolute;
    top: 22.5%;
    left: 70%;
    z-index: 10;
}

.helpBtn{
    position: absolute;
    top: 78.5%;
    left: 70%;
    z-index: 10;
}

.logoutBtn{
    position: absolute;
    top: 89%;
    left: 70%;
    z-index: 10;
}

nav{
    border-right: ridge saddlebrown 0.6em;
    background-color: #bc7a00;
    position: absolute;
    z-index: 0;
    left: -9.8%;
    top: 0;
    width: 15%;
    height: 100%;
    z-index: 9;
}